.page{
	background-color: white;
}

.profile-image{
	width:100%;
	max-width: 300px;
	height: auto;
	border-radius: 50%;
}

.imgcontainer{
	padding:2.5%;
}
.icon{
	height: 300px;
	border-radius: 50%;
	
	padding: 1cm;
}
.name {
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	font-size: 32px;
}
