body,
td,
th,
tr,
p,
a {
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	font-size: 15px
}

strong {
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	font-size: 14px;
}

heading {
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	font-size: 22px;
}

papertitle {
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700
}

name {
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	font-size: 32px;
}

.page{
	background-color: white;
}

.profile-image{
	width:100%;
	max-width: 300px;
	height: auto;
	border-radius: 50%;
}

.imgcontainer{
	padding:2.5%;
}
.icon{
	height: 300px;
	border-radius: 50%;
	
	padding: 1cm;
}
.name {
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	font-size: 32px;
}

.td-left{
	padding:20px;
	width:25%;
	vertical-align:middle
}

.td-right{
	padding:20px;
	width:25%;
	vertical-align:middle
}

.td-full{
	padding:20px;
	width:100%;
	vertical-align:middle
}

.tr-full{
	padding: 0px;
}

.table-style{
	width:100%;
	border:0px;
	border-spacing:0px;
	border-collapse:separate;
	margin-right:auto;
	margin-left:auto;
}

.table-main{
	width:100%;
	max-width:800px;
	border:0px;
	border-spacing:0px;
	border-collapse:separate;
	margin-right:auto;
	margin-left:auto;
}